.wrap {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(332deg, rgba(2,0,36,1) 0%, rgba(33,9,121,0.8687850140056023) 35%, rgba(0,212,255,1) 100%);
}

h1 {
  text-align: center;
}

.content {
  margin: auto;
  padding: 20px;
  width: 600px;
}

.sliderFade {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  outline: none;
}

.slider-item {

}

.slider-item img {
  border: 5px solid black;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.swiper-slide {
  background: none;
  width: 100px;
  text-align: center;
}

.swiper-slide img {
  width: 400px !important;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}